---
import { url } from '../utils/url';
---
<header class="site-header">
  <div class="container--wide">
    <div class="site-header__inner">
      <a href={url('')} class="site-logo">怪談と<span>闇</span>の記録</a>
      <nav class="site-nav" aria-label="メインナビゲーション">
        <a href={url('kaidan')}>怪談</a>
        <a href={url('horror')}>ホラー映画</a>
      </nav>
    </div>
  </div>
</header>
